@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: #fff;
}

h1, h2, h3, h4, a{
  color: #0a081c;
  text-decoration: none;
}
p{
  color: #707070;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 0 40px;
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a081c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 30px;
}
.btn:hover{
  color: #0a081c;
  background: #fff;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.btn-medium{
  padding: 0 40px;
  width: fit-content;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a081c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 25px;
}
.btn-medium:hover{
  color: #0a081c;
  background: #fff;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btn-sec{
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  color: #0a081c;
} 

.btn-sec:hover{
  margin-left: 24px;
}

@media screen and (max-width: 500px){
  .btn{
    width: 100%;
  }
}